# Local installation (created by install.sh)
af3_env/
AF3_install_*.out
alphafold3_slurm/config.yaml
alphafold3_slurm/config.yaml.bak.*

# Legacy conda installation
alphafold3/
env/
AF_install.out
bin/run_alphafold

# Python build artefacts
__pycache__/
*.egg-info/
build/
dcgm/
